receivers:
  otlp:
    protocols:
      grpc:
        endpoint: 0.0.0.0:4317
      http:
        endpoint: 0.0.0.0:4318

processors:
  batch:

extensions:
  health_check: {}

exporters:
  otlp:
    endpoint: jaeger:16686
    tls:
      insecure: true
  prometheus:
    endpoint: "railway-prometheus:9090"

service:
  pipelines:
    traces:
      receivers: [otlp]
      exporters: [otlp]
    metrics:
      receivers: [otlp]
      exporters: [prometheus]
